<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Static/CSS/style.css">
    <title>Portfolio</title>
</head>
<body class="typo_p">
     
    <header class="conteneur box_flex">
        <div class="element">
            <h1>Portfolio</h1>
        </div>
        <div class="element box_grid">
            <div class="divlogo">
                <img src="/Datas/Images/moi.png" id="logo" alt="">
            </div>
            <div class="info">
                <p class="info_nom">SimsTech Maker</p>
                <p class="info_poste">M.Sr</p>
                <p class="info_nom">emmanuel-ndi@outlook.com</p>

            </div>
            <div class="social ">
                <ul class="box_flex">
                    <li>+237 691 450 977</li>
                    <li>@SimsTechmaker</li>
                    <li>Facebook</li>
                    <li>Telegram</li>
                    <li>Whatsapp</li>
                </ul>
            </div>
            
        </div>
        <div class="element"><img src="/Datas/Images/logoban.png" id="ban"alt=""></div>

    </header>
    <section class="conteneur">
        <article>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam cupiditate dicta iste nisi ab a, voluptatibus 
                id assumenda aspernatur quidem, neque impedit! Amet, fugit harum. Tenetur, reiciendis. Excepturi, ratione obcaecati?</p>
        </article>
        <article >
            <div>
                <h1 class="titre1">Competences</h1>
                <table>
                    <tr>
                        <td><h2 class="Titrefocntion">Langage de programmation : </h2></td>
                        <td>Python, HTML, CSS, JavaScript</td>
                    </tr>
                    <tr>
                        <td><h2 class="Titrefocntion :">Framwork </h2></td>
                        <td>Django,Flask, HTMX, </td>
                    </tr>
                </table>
            </div>
        </article>
        <article>
            <h1 class="titre1">Experience professionelle </h1>
            <table>
                <tr>
                    <td>
                        <h2 class="Titrefocntion">Ingénieur Support </h2>
                        <p>Ocean Bleu </p>
                    </td>
                    <td>Mai 2019 - 2022</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <ul>
                            <li>Monter un poste de travail répondant aux besoins de l'utilisateur</li>
                            <li>Installer un poste de travail utilisateur et des périphériques (Windows et Linux)</li>
                            <li>Installer le matériel et des périphériques sur une infrastructure d'entreprise (Windows)</li>
                        </ul>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <h2 class="Titrefocntion">Ingénieur Support </h2>
                        <p>Ocean Bleu </p>
                    </td>
                    <td>Mai 2019 - 2022</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <ul>
                            <li>Monter un poste de travail répondant aux besoins de l'utilisateur</li>
                            <li>Installer un poste de travail utilisateur et des périphériques (Windows et Linux)</li>
                            <li>Installer le matériel et des périphériques sur une infrastructure d'entreprise (Windows)</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </article>
        <article>
            
            <h1 class="titre1">Autre</h1>
            <table>
                <tr>
                    <td>
                        <h2 class="Titrefocntion">Ingénieur Support </h2>
                        <p>Ocean Bleu </p>
                    </td>
                    <td>Mai 2019 - 2022</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <ul>
                            <li>Monter un poste de travail répondant aux besoins de l'utilisateur</li>
                            <li>Installer un poste de travail utilisateur et des périphériques (Windows et Linux)</li>
                            <li>Installer le matériel et des périphériques sur une infrastructure d'entreprise (Windows)</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </article>
    </section>
</body>
</html>